<div class="fade-in">
  <c-row>
    
    <c-col xs="12">
      
      <c-toaster #ToasterViewChild [ngClass]="'p-3'" position="fixed" placement="top-end"></c-toaster>
      <c-card>
        <c-card-header>
          Toaster
        </c-card-header>
        <c-card-body>
          <c-container>
            <c-row>
              <c-col lg="6" sm="12">
               
                 
                
                  <button (click)="addvcToast()" cButton class="m-1" color="success">
                    Add toast direct
                  </button>
               
              </c-col>
             
            </c-row>
          </c-container>
        </c-card-body>
      </c-card>
      
    </c-col>
  </c-row>
</div>
