<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-toaster #ToasterViewChild [ngClass]="'p-3'" position="fixed" placement="top-end"></c-toaster>
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm 
                  novalidate
                  #posNewPasswordForm="ngForm"
                  (ngSubmit)="Submit()"
                  [validated]="posNewPasswordFormValidated"
                  class="needs-validation">
                  <h1>New Password</h1>
                  <p class="text-medium-emphasis">Change your password here</p>

                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                        name="CurrentPassword"
                      [(ngModel)]="PasswordInfoModel.CurrentPassword"    
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Enter your Current Password"
                      type="password"
                      required minlength="7"
                    />
                    <c-form-feedback [valid]="false">Current Password should contain 7 or more characters.</c-form-feedback>
                  </c-input-group>

                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                        name="UserPassword"
                      [(ngModel)]="PasswordInfoModel.UserPassword"    
                      autoComplete="new-password"
                      cFormControl
                      placeholder="Enter new password"
                      type="password"
                      required  minlength="7"
                      [valid]="posNewPasswordFormValidated? valid.UserPassword : undefined"
                    />
                    <c-form-feedback [valid]="false">New password should be strong.</c-form-feedback>
                  </c-input-group>

                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                      name="ReTypePassword"
                      [(ngModel)]="PasswordInfoModel.ReTypePassword"    
                      autoComplete="retype-password"
                      cFormControl
                      placeholder="Conform new password"
                      type="password"
                      required minlength="7"
                      [valid]="posNewPasswordFormValidated? valid.ReTypePassword : undefined"
                    />
                    <c-form-feedback [valid]="false">Passwords do not match.</c-form-feedback>
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button [attr.disabled] = "isRequestProcessing"  cButton class="px-4" color="primary" type="submit">
                        Submit <img *ngIf="isRequestProcessing"  class="form-submit-loader" src="assets/img/785.gif" />
                      </button>
                      
                      <!-- test button <button   (click)="togglelockedModel()"  cButton class="px-4" color="primary"> togglelockedModel() </button> -->
  
                    </c-col>
                    
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
              <c-card-body >
                <div class="text-center">
                  <h2>Password Strength</h2>
                  <meter class="w-100" [value]="meter_value" min="0" max="5" low="2" high="4" optimum="5" id="password-strength-meter"></meter>
                  <div class="mb-2 col-xs-12 px-0" id="password-strength-text">{{StrengthMessage}}</div>
                   
                
                </div>
                <div >
                    <h6 ><b>Hints to make password strong</b></h6>
                </div>
                <ul >
                    <li >
                        password should contain 7 or more characters
                    </li>
                    <li >
                        Increse length of password to make it strong
                    </li>
                    <li >
                        include both lower and uppercase characters.
                    </li>
                    <li >
                        include numbers and characters.
                    </li>
                    <li >
                        include one or more special character.
                    </li>
                </ul>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  