<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <!-- [label]="Delete" -->
            <button pButton pRipple  icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
            
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="invoices" [rows]="10" [paginator]="true" [globalFilterFields]="['InvoiceNo','InvoiceDate','UserName','Status']" responsiveLayout="scroll"
        [(selection)]="selectedInvoice" [rowHover]="true" dataKey="InvoiceNo"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="table-cap-container">
                <span class="m-0 table-cap-left">Invoices List</span>
                <span class="p-input-icon-left table-search-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal( $event.target.value, 'contains')" placeholder="Search..." />
                    <!-- !.value -->
                </span>                
            </div>
            <div class="table-cap-container-2"></div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="InvoiceNo">Invoice No <p-sortIcon field="InvoiceNo"></p-sortIcon></th>
                <th>Invoice Date</th>
                <th pSortableColumn="NoOfItems">No of Items <p-sortIcon field="NoOfItems"></p-sortIcon></th>
                <th pSortableColumn="NetAmount">Total Amount <p-sortIcon field="NetAmount"></p-sortIcon></th>
                <th pSortableColumn="UserName">User Name <p-sortIcon field="UserName"></p-sortIcon></th>
                <th pSortableColumn="Status">Status <p-sortIcon field="Status"></p-sortIcon></th>
                <th pSortableColumn="Remarks">Remarks <p-sortIcon field="Remarks"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td>
                    <p-tableCheckbox [value]="invoice"></p-tableCheckbox>
                </td>
                <td>{{invoice.InvoiceNo}}</td>
                
                <td>{{invoice.InvoiceDate | date:'dd-MM-yyyy'}}</td>
                <td>{{invoice.NoOfItems}}</td>
                <td>{{invoice.NetAmount | currency:'USD'}}</td>
                <td>{{invoice.UserName}}</td>
                <td><span [class]="'p-badge status-' + (invoice.Status ? invoice.Status : '')">{{ statuses[invoice.Status]}}</span></td>
                <td>{{invoice.Remarks}}</td>
                
                
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editInvoice(invoice)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteInvoice(invoice)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{invoices ? invoices.length : 0 }} invoices.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="posDialog" [style]="{width: '90%'}" header="Invoice Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <app-pos [isEditing]="true" [showInv]="invoice" ></app-pos>
    </ng-template>

    <ng-template pTemplate="footer">
        <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button> -->
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>